In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from scipy.stats import linregress
from pandas.plotting import scatter_matrix

# Zadanie 1

In [6]:
cywilny=pd.read_csv("data/stan_cywilny.csv",sep=";")

In [7]:
cywilny

    rok_studiow stan_cywilny
0             1            W
1             2            W
2             5            M
3             1            W
4             4            M
5             3            W
6             2            M
7             1            W
8             5            M
9             2            W
10            3            M
11            4            M
12            1            W
13            2            W
14            5            M
15            4            M
16            3            M
17            1            M
18            4            M
19            5            W
20            2            W
21            5            M
22            3            W
23            4            W
24            3            M
25            2            W
26            5            M
27            1            W

# Zadanie 3

In [3]:
bledy=pd.read_csv("data/bledy_os.csv",sep=";")

In [4]:
bledy

    nr_miesiaca  liczba_bledow
0             1              1
1             2              0
2             3              0
3             4              0
4             5              0
..          ...            ...
88           89              2
89           90              1
90           91              2
91           92              1
92           93              0

[93 rows x 2 columns]

# Zadanie 4

In [5]:
platki=pd.read_csv("data/platki.csv",sep=";")

In [6]:
platki

,nazwa,producent,kalorie,cukry,weglowodany,proteiny,tluszcz,sod,blonnik,potas,Liczba_polek,srodk_polka,polka_1,polka_2,polka_3
0,100%_Bran,N,70,6,5,4,1,130,10,280,3,N,0,0,1
1,100%_Natural_Bran,Q,120,8,8,3,5,15,2,135,3,N,0,0,1
2,All-Bran,K,70,5,7,4,1,260,9,320,3,N,0,0,1
3,All-Bran_with_Extra_Fiber,K,50,0,8,4,0,140,14,330,3,N,0,0,1
4,Almond_Delight,R,110,8,14,2,2,200,1,1,3,N,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,Triples,G,110,3,21,2,1,250,0,60,3,N,0,0,1
73,Trix,G,110,12,13,1,1,140,0,25,2,T,0,1,0
74,Wheat_Chex,R,100,3,17,3,1,230,3,115,1,N,1,0,0
75,Wheaties,G,100,3,17,3,1,200,3,110,1,N,1,0,0
76,Wheaties_Honey_Gold,G,110,8,16,2,1,200,1,60,1,N,1,0,0